body { 
  background: url(resources/violin-landscape.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

h1 {
	font-size: 3rem;
	color: white;
	border-bottom: 2px solid white;
	width: 400px;
}

h2 {
	font-size: 2rem
}

.row-buffer1 {
	height: 50px;
}

.row-buffer2 {
	height: 150px;
}